#import <Foundation/Foundation.h>
{{#imports}}#import "{{import}}.h"
{{/imports}}
#import "SWGObject.h"
#import "SWGApi.h"
{{newline}}

{{#operations}}
@interface {{classname}}: SWGApi

{{#operation}}
/**

 {{{summary}}}
 {{#notes}}{{{notes}}}{{/notes}}

 {{#allParams}}@param {{paramName}} {{description}}
 {{/allParams}}

 return type: {{{returnType}}}
 */
{{#hasParams}}
-(NSNumber*) {{nickname}}With{{#allParams}}{{^secondaryParam}}{{paramNameCapitalized}}{{/secondaryParam}}{{#secondaryParam}} {{paramName}}{{/secondaryParam}}: ({{{dataType}}}) {{paramName}}{{/allParams}}
    {{#returnBaseType}}completionHandler: (void (^)({{{returnType}}} output, id responseObject, NSError* error))completionBlock;{{/returnBaseType}}
    {{^returnBaseType}}completionHandler: (void (^)(NSData *data, id responseObject, NSError* error))completionBlock;{{/returnBaseType}}
{{/hasParams}}
{{^hasParams}}
    -(NSNumber*) {{nickname}}WithCompletionHandler:(void (^)({{#returnBaseType}}{{{returnType}}}{{/returnBaseType}}{{^returnBaseType}}NSData *{{/returnBaseType}} output, id responseObject, NSError* error))completionBlock;
{{/hasParams}}

{{newline}}
{{/operation}}

{{/operations}}
@end
