return [self.apiClient executeWithPath: requestUrl
                                method: @"{{httpMethod}}"
                           queryParams: queryParams
                                  body: bodyDictionary
                          headerParams: headerParams
                              keyPaths: keyPaths
                          authSettings: authSettings
                    requestContentType: requestContentType
                   responseContentType: responseContentType
                       completionBlock: ^(NSData *data, NSError *error) {
                            completionBlock(data, data, error);
                        }];